.cards {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 40px;

  &__box {
    line-height: 0.75;
    background-color: var(--button-color);
  }
  &__icon {
    margin: 0 auto;
    display: block;
    width: 70px;
    height: 120px;
    line-height: 0.75;
  }
  &__heading {
    font-style: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    color: var(--dark-color-font);
  }
  &__text {
    font-size: 14px;
    line-height: 1.7em;
    letter-spacing: 0.03em;
    color: var(--less-dark-color-font);
  }
}

