:root {
    --brand-color: #2196f3;
    --dark-color-font: #212121;
    --less-dark-color-font: #757575;
    --white: #ffffff;
    --black: #000000;
    --button-color: #f5f4fa;
    --background-color-main-page: #2f303a;
    --icon-color: #afb1b8;
  }